@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dubai:wght@300;400;700&display=swap');

/*  Global Font */
body {
  font-family: "Cairo", "Dubai", sans-serif !important;
  background-color: #f8f9fa;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/*  Improve Titles */
h1, h2, h3, h4, h5, h6, p, span, input, button, a {
  font-weight: 700;
  font-family: "Cairo", "Dubai", sans-serif !important;
}

/* Title */
h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #4A90E2;
  text-align: center;
  margin-bottom: 20px;
}

/*  Improve Button & Inputs */
button, input {
  font-family: "Cairo", "Dubai", sans-serif !important;
}


/* Center Content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.rocket-icon {
  color: var(--primary-color);
  /* Use theme primary color */
  margin-right: 8px;
  font-size: 2rem;
}