.list {
  padding: 20px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.errorMessage {
  color: red;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.errorIcon {
  font-size: 1.5rem;
  color: red;
}

.noResults {
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
}